/* Other rules */
@font-face {
  font-family: "Maison Neue";
  src: url("./assets/fonts/Font.eot");
  src: url("./assets/fonts/Font.eot?#iefix") format("embedded-opentype"),
    url("./assets/fonts/Font.woff2") format("woff2"),
    url("./assets/fonts/Font.woff") format("woff"),
    url("./assets/fonts/Font.ttf") format("truetype"),
    url("./assets/fonts/Font.svg#Font") format("svg");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Maison Neue";
  src: url("./assets/fonts/Font_1.eot");
  src: url("./assets/fonts/Font_1.eot?#iefix") format("embedded-opentype"),
    url("./assets/fonts/Font_1.woff2") format("woff2"),
    url("./assets/fonts/Font_1.woff") format("woff"),
    url("./assets/fonts/Font_1.ttf") format("truetype"),
    url("./assets/fonts/Font_1.svg#Font") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  font-family: "Maison Neue", sans-serif;
}
a {
  outline: none;
  text-decoration: none;
  color: black;
}

/* HEADER */

.header-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: space-between;
}
.content-header-top {
  height: 60px;
}

.container {
  margin: 5px 10px;
}

.header-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.open {
  display: flex;
  width: 30px;
  height: 30px;
}
.open:hover,
.close:hover {
  cursor: pointer;
}

.nav {
  position: absolute;
  top: 110px;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: calc(100%);
  height: 200px;
  background-color: white;
  z-index: 999999;
}

.nav li:not(:first-child) {
  width: calc(100% - 40px);
  text-align: center;
  margin: 5px 0;
  padding: 15px 10px;
  border-radius: 5px;
  color: #3cb1ba;
  border: 1px solid #3cb1ba;
  background-color: white;
}

.nav a:first-child {
  width: calc(100% - 40px);
  text-align: center;
  margin: 5px 0;
  padding: 20px 10px;
  border-radius: 5px;
  color: white;
  background-color: #3cb1ba;
}
.nav a:hover:first-child {
  cursor: pointer;
  background-color: #359ca3;
}

.nav li:hover {
  cursor: pointer;
  background-color: #3cb2ba15;
}
.search {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
}
.search input {
  border: none;
  width: calc(100% - 20px);
  height: 30px;
  padding: 0 10px;
  border-radius: 5px;
  background-color: #f5f6f7;
}
.search input:focus {
  outline: none;
}

.header-search,
.menu,
.close,
.isInactive {
  display: none;
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

/* HERO */
.hero-image {
  background-image: url(./assets/images/banner.jpg);
  height: 455px;
  width: 100%;
  position: relative;
  background-position: 50%;
  background-size: cover;
}
.hero-image-form {
  position: absolute;
  bottom: 0;
  right: 0;
  height: 80px;
  pointer-events: none;
}

.hero-ready {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: -90px;
  width: 100%;
}

.hero-ready span {
  margin: 20px 0;
}
.hero-ready button {
  width: calc(100% - 40px);
  text-align: center;
  margin: 5px 0;
  padding: 15px 10px;
  border-radius: 5px;
  color: white;
  background-color: #3cb1ba;
  border: none;
}
.hero-ready button:hover {
  cursor: pointer;
  background-color: #359ca3;
}

.filters {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 1280px;
  margin-top: 130px;
  padding: 10px;
}
.reset-filters {
  width: 120px;
  text-align: center;
  margin-bottom: 20px;
  padding: 10px 10px;
  border-radius: 5px;
  color: #3cb1ba;
  border: 1px solid #3cb1ba;
  background-color: white;
}
.reset-filters:hover {
  cursor: pointer;
  color: white;
  background-color: #2899a1;
}
.asc-desc {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 25px;
}
.asc-desc svg {
  width: 30px;
  height: 30px;
  margin-left: 20px;
}
.asc-desc svg:hover,
.pages svg:hover {
  cursor: pointer;
  color: white;
  fill: #3cb1ba;
}
.active {
  fill: #3cb1ba;
}
.inactive {
  fill: black;
}
.numberPerPage {
  margin-bottom: 20px;
}
.numberPerPage > span {
  margin-right: 20px;
}

.card-wrapper-empty {
  width: 960px;
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px auto;
}

.card-wrapper {
  /* width: 1280px; */
  display: flex;
  flex-wrap: wrap;
  margin: 30px auto 30px 10px;
}
.card-container {
  width: 225px;
  margin: 0 6px 16px;
  cursor: pointer;
  transition: box-shadow 0.2s;
}
.card-container:hover {
  /* transform: scale(1.1); */
  box-shadow: -4px 5px 6px 4px rgb(46 51 51 / 7%);
  border-radius: 5px;
}
.card-avatar-username {
  display: flex;
  align-items: center;
  padding: 10px;
}

.avatar {
  height: 25px;
  width: 25px;
  object-fit: cover;
  border-radius: 50%;
  margin-right: 10px;
}
.avatar-empty {
  background-color: rgb(93, 158, 211);
  text-align: center;
  padding-top: 6px;
  padding-left: 2px;
}
.card-container div:last-child img {
  height: 300px;
  width: 100%;
  object-fit: cover;
  border-radius: 5px;
}
.card-infos {
  display: flex;
  flex-direction: column;
  padding: 8px;
}
.card-infos span {
  margin-bottom: 2px;
}
.card-infos span:not(:first-child) {
  font-size: 12px;
  color: #999;
}
.pages {
  display: flex;
  justify-content: center;
  align-items: center;
}
.pages svg {
  width: 30px;
  height: 30px;
}
.pages svg:first-child {
  margin-right: 30px;
}
.pages svg:last-child {
  margin-left: 30px;
}

/* PRODUCT */

.offer-body {
  height: 100vh;
  background-color: #ebedee;
}

.offer-container {
  /* width: 1280px; */
  /* margin: 0 auto; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
  grid-gap: 30px;
  gap: 30px;
}
.offer-picture {
  height: 300px;
  width: 300px;
  object-fit: cover;
  border-radius: 5px;
}

.offer-infos {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
  width: 300px;
  height: 400px;
  padding: 40px;
  border-radius: 5px;
}

.offer-price {
  font-size: 24px;
  line-height: 32px;
  color: #111;
}

.offer-list {
  list-style-type: none;
  padding: 0;
}

.offer-list li {
  display: flex;
  padding: 2px 0;
}

.offer-list span {
  flex: 1 1;
  font-size: 14px;
  text-transform: uppercase;
}
.offer-list span:nth-child(odd) {
  color: #999;
}
.offer-list span:nth-child(2n) {
  color: #666;
  font-weight: 700;
}
.offer-infos .divider {
  display: block;
  width: 100%;
  height: 1px;
  background: rgba(17, 17, 17, 0.1);
}
.offer-content .name {
  margin: 1rem 0;
  font-weight: 700;
}
.offer-content .description {
  margin: 1rem 0;
  color: #666;
}
.offer-avatar-username {
  display: flex;
  align-items: center;
}
.offer-infos button {
  color: #fff;
  background: #09b1ba;
  border: 1px solid #09b1ba;
  border-radius: 4px;
  width: 100%;
  font-size: 16px;
  height: 36px;
  padding: 0 16px;
  line-height: 36px;
  margin-top: 32px;
}

/* SINGUP LOGIN */
.signup-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.616);
  z-index: 99999999;
  display: flex;
  justify-content: center;
  align-items: center;
}
form {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 600px;
  width: 400px;
  border-radius: 5px;
  background-color: white;
}

.form-close {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 50px;
  height: 50px;
}

form > h1 {
  font-size: 24px;
  font-weight: 400;
  margin-bottom: 30px;
}

form > input:not(:last-child) {
  border: none;
  border-bottom: 1px solid #fcced3;
  width: 225px;
  height: 35px;
  margin-bottom: 20px;
  outline: none;
}

form > input:last-child {
  background-color: #2cb1ba;
  height: 45px;
  width: 225px;
  border: none;
  outline: none;
  border-radius: 5px;
  color: #fff;
  font-size: 16px;
  margin-top: 20px;
}

form > input:last-child:hover {
  background-color: #359ca3;
  cursor: pointer;
}

.check-newsletter {
  width: 225px;
  margin-top: 20px;
}
.check-newsletter > div {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 20px;
}
form input[type="checkbox"] {
  transform: scale(2);
}
.check-newsletter p {
  text-align: left;
  color: #999;
  font-size: 12px;
}

.image-preview-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 225px;
  margin: 10px 0;
}

.image-preview {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
}

.label-error {
  margin-bottom: 5px;
  font-size: 12px;
  color: red;
}

/*  FOOTER  */

footer {
  /* margin-top: 3.75rem; */
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 60px;
}

footer a {
  font-weight: 600;
  text-decoration: none;
  outline: none;
  margin: 0 5px;
}
footer a:hover {
  color: #2cb1ba;
}

/* ---------------- */

@media (min-width: 960px) {
  /* HEADER */
  .header-search,
  .menu,
  .nav {
    display: flex;
  }

  .menu li:hover {
    cursor: pointer;
    padding: 10px 0 10px 20px;
    border-radius: 5px;
    background-color: rgba(128, 128, 128, 0.082);
  }

  .open,
  .small-search {
    display: none;
  }

  .header-container {
    width: 960px;
    margin: auto;
  }

  .nav {
    position: initial;
    flex-direction: row;
    justify-content: space-between;
    width: unset;
    height: 0;
    border-bottom: none;
  }

  .nav li:not(:first-child) {
    width: 150px;
    text-align: center;
    margin: 0 5px;
    padding: 10px 5px;
    border-radius: 5px;
    color: #3cb1ba;
    border: 1px solid #3cb1ba;
    background-color: white;
  }

  .nav a:first-child {
    width: 150px;
    text-align: center;
    margin: 0 5px;
    padding: 11px 5px;
    border-radius: 5px;
  }

  .search input {
    width: 30vw;
  }

  .header-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
  }
  .menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #909090;
    font-size: 0.8rem;
  }
  .menu li:not(:last-child) {
    padding: 10px;
    margin-right: 20px;
  }
  .menu li:last-child {
    padding: 10px;
    margin-right: 20px;
  }

  /* ---------------- */

  /* HERO */

  .hero-image > div {
    width: 1280px;
    margin: auto;
  }

  .hero-ready {
    height: 220px;
    width: 360px;
    background-color: #fff;
    padding: 25px;
    border-radius: 3px;
    font-size: 34px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    top: 75px;
    box-shadow: 0 0 2px rgb(17 17 17 / 24%);
  }

  /* ---------------- */

  /* FILTERS */

  .filters {
    flex-direction: row;
    justify-content: space-between;
    width: 960px;
    margin: 130px auto 0 auto;
  }
  .reset-filters {
    margin-bottom: 0;
  }
  .asc-desc {
    margin-bottom: 0;
  }
  .numberPerPage {
    margin-bottom: 0;
  }
  .numberPerPage > span {
    margin-right: 20px;
  }
  /* ---------------- */

  .card-container {
    width: 228px;
  }

  .card-wrapper {
    width: 960px;
    margin: 50px auto;
  }
  /* PRODUCT */

  .offer-container {
    max-width: 960px;
    margin: 0 auto;
    flex-direction: row;
    justify-content: space-around;
  }

  .offer-picture {
    height: 500px;
    width: 500px;
    object-fit: cover;
    border-radius: 5px;
  }

  .offer-infos {
    width: 500px;
    height: 500px;
  }
  .offer-list {
    margin-top: 20px;
  }
  .offer-list li {
    margin-top: 10px;
  }
  /* ---------------- */
}

@media (min-width: 1180px) {
  .header-container {
    width: 1280px;
  }

  .card-container {
    width: 244px;
  }

  .card-wrapper {
    width: 1280px;
  }
  .offer-container {
    max-width: 1280px;
  }
}
